{#template - scripts#}
<script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script> {# библиотека для работы с DOM манипуляциями #}
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>  {# фреймворк css/html #}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script> {# редактор #}
<script src="{{ url_for('static', filename='js/nprogress.js') }}"></script> {# для визуализации загрузки страницы #}
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script> {# для построения диаграм #}
<script src="{{ url_for('static', filename='js/script.js') }}"></script> {# личные скрипты #}