{% extends "layout.html" %}
{% block title %} {{ _('Регистрация') }} {% endblock title %}
{% block content %}
    <form class="form-horizontal" role="form" method="post" action="{{ url_for('user.sign_up') }}">
        {{ form.csrf_token }}
        <div class="form-group">
            <label class="col-sm-2 control-label">{{ _('Имя пользователя: ') }}</label>
            <div class="col-sm-10">
                {{ form.username(class="form-control", placeholder=_('Имя пользователя')) }}
            </div>
            {% for error in form.username.errors %}
                <span id="helpBlock2" class="help-block">
                {{ error }}
                </span>
            {% endfor %}
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">{{ _('Эл. адрес:') }}</label>
            <div class="col-sm-10">
                {{ form.email(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ _('Пароль:') }}</label>
            <div class="col-sm-10">
                {{ form.password(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">{{ _('Подтвердите пароль: ') }}</label>
            <div class="col-sm-10">
                {{ form.confirm(class="form-control") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {% for error in form.re_captcha.errors %}
                <label for="re_captcha" class="text-error">
                    {{ error }}
                {% endfor %}
                </label>
                {{ form.re_captcha(id="re_captcha") }}
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                {{ form.submit(class="btn btn-primary",value=_('Зарегистрироваться')) }}
            </div>
        </div>
    </form>
{% endblock content %}
