{% extends "layout.html" %}

<!-- block title -->
{% block title %}
    {{ title | title}}
{% endblock title %}

<!-- Block content -->
{% block content %}
    <div class="page-header">
        <h2>{{ title | title }}<small></small></h2>
    </div>
    {% if not topics.items %}
        <h3 class="text-muted">Обсуждений нет</h3>
    {% else %}
    <ul class="list-group">
        {% for topic in topics.items %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="{{ url_for('user.show_profile_user', username=topic.user.username) }}">
                            <img class="media-object" height="80" width="80" alt="" src="{{ topic.user.avatar(128) }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="{{ url_for('forum.topic',category_name=topic.category.name, topic_id=topic.id) }}">
                            <h4 class="media-heading">{{ topic.title }}</h4>
                        </a>
                        <p>
                            Автор:
                            <a href="{{ url_for('user.show_profile_user',username=topic.user.username) }}">
                                <span class="label label-success">
                                    {{ topic.user.username }}
                                </span>
                            </a>
                        </p>
                        <p>{{ topic.date_created.strftime('%d-%m-%Y в %H:%M %p') }}</p>
                        <p class="text-muted">
                            Ответов: {{ topic.replies.count() }}
                            Просмотров: {{ topic.views }}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    <nav aria-label="...">
        <ul class="pager">
            {% if topics.has_prev %}
                <li class="previous"><a href="{{ url_for('forum.category',category_name=category.name, page=topics.prev_num) }}"><span aria-hidden="true">&larr;</span> Предыдущая</a></li>
            {% else %}
                <li class="previous disabled"><a href=""><span aria-hidden="true">&larr;</span> Предыдщуая</a></li>
            {% endif %}

            {% for page_num in topics.iter_pages() %}
                <li><a href="{{ url_for('forum.category',category_name=category.name, page=page_num) }}">{{ page_num }}</a></li>
            {% endfor %}

            {% if topics.has_next %}
                <li class="next"><a href="{{ url_for('forum.category',category_name=category.name, page=topics.next_num) }}">Слудющая<span aria-hidden="true">&rarr;</span></a></li>
            {% else %}
                <li class="next disabled"><a href="">Следующая<span aria-hidden="true">&rarr;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
{% endblock content %}

<!-- Block sidebar -->
{% block sidebar %}

{% endblock sidebar %}
