{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST" role="form" action="{{ url_for('forum.new_category') }}">
        {{ form.csrf_token }}
        <div class="form-group form-group-lg">
            {{ form.name(class="form-control", placeholder=_("Название категории..."))}}
        </div>
        <div class="form-group">
            {{ form.description(class="form-control ckeditor") }}
        </div>
        {{ form.submit(class="btn btn-primary", value=_("Создать")) }}
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}