{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST" role="form" action="{{ url_for('forum.new_category') }}">
        <div class="form-group form-group-lg">
            <input name="name" type="text" class="form-control" placeholder="Название категории...">
        </div>
        <div class="form-group">
            <textarea name="description" class="form-control ckeditor" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}