{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <form method="POST" role="form" action="{{ url_for('forum.create_topic') }}">
        <div class="form-group form-group-lg">
            {{ form.title(class="form-control", placeholder="Заголовок")}}
        </div>
        <div class="form-group">
            <div class="input-group">
            <span class="input-group-addon">{{ _('Выберите категорию') }}</span>
                    <select name="category_select" class="selectpicker form-control">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div class="form-group">
            {{ form.content(class = 'ckeditor')}}
        </div>
        {{ form.submit(class = "btn btn-primary") }}
    </form>
{% endblock %}

{% block sidebar %}

{% endblock %}