{#forum templayes - home#}
{% extends 'layout.html' %}
{% block title %}

{% endblock %}

{% block content %}
    <div class="page-header">
        <p id="datetimeNow">
        </p>
        <h2>{{ title | title }}</h2>
        {% if g.user.is_authenticated %}
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-primary" href="{{ url_for('forum.create_topic') }}">{{ _('Создать обсуждение') }}</a>
                {% if g.user.admin %}
                    <a class="btn btn-primary" href="{{ url_for('forum.new_category') }}">{{ _('Создать категорию') }}</a>
                {% endif %}
            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
            {{ _('Чтобы создать обсуждение, пожалуйста ') }}
            <a href="{{ url_for('user.log_in') }}" class="alert-link">{{ _('авторизуйтесь') }}</a>
            {{ _('или') }}
            <a href="{{ url_for('user.sign_up') }}" class="alert-link">{{ _('зарегистрируйтесь.') }}</a>
        </div>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for category in categories %}
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left media-middle">
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                    <div class="media-body">
                        <a href="{{ url_for('forum.category',category_name=category.name) }}">
                            <h4 class="media-heading">{{ category.name | title }}</h4>
                        </a>
                        <p>{{ category.description | safe }}</p>
                        <p class="text-muted">
                            {{ _('Обсуждений: ') }}{{ category.topics.count()}}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block sidebar %}
    {% if new_topics | count %}
    <h4>{{ _('Новые обсуждения') }}</h4>
        <ul class="list-group">
            {% for new_topic in new_topics %}
                <li class="list-group-item">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="{{ url_for('user.show_profile_user',username=new_topic.user.username) }}">
                                <img class="img-rounded media-object" height="60" width="60" src="{{ new_topic.user.avatar(128) }}" alt="">
                            </a>
                        </div>
                        <div class="media-body new-topics">
                            <a href="{{ url_for('forum.topic',category_name=new_topic.category.name,topic_id = new_topic.id,page=1)}}">
                                <p class="media-heading text-muted">{{ new_topic.title | truncate(30, False, '...',0)}}</p>
                            </a>
                            <p class="text-muted">
                                {{ moment(new_topic.date_created).fromNow() }}
                            </p>
                            <a href="{{ url_for('forum.category',category_name=new_topic.category.name, page=1) }}">
                                <p class="text-muted">{{ new_topic.category.name }}</p>
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h4>{{ _('Статистика') }}</h4>
    <ul class="list-group">
        <li class="list-group-item">
            {{ _('Обсуждений') }}
            <span class="badge">{{ count_topics }}</span>
        </li>
        <li class="list-group-item">
            {{ _('Ответов') }}
            <span class="badge">{{ count_replies }}</span>
        </li>
        <li class="list-group-item">
            {{ _('Участников') }}
            <span class="badge">{{ count_members }}</span>
        </li>
        {% if latest_member == none %}
        {% else %}
            <li class="list-group-item">
                {{ _('Новый участник') }}
                <a class="badge" href="{{ url_for('user.show_profile_user',username = latest_member.username) }}">
                    <span class="">
                        {{ latest_member.username}}
                    </span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}