{% extends "layout.html" %}

{% block title %}
    {{ topic.title }}
{% endblock title %}

{% block content %}
    <h1>{{ topic.title }}</h1>
    <a href="{{ url_for('user.show_profile_user',user_id = topic.user_id) }}"><img src="" width="35" height="35"></a>
    <p class="text-muted">{{ topic.date_created.strftime('%d-%m-%Y в %H:%M %p') }}</p>
    <p>{{ topic.content | safe }}</p>
    <hr>
    <h3>Ответить: </h3>
    <form action="" role="form" method="POST">
        <div class="form-group">
            {{ form.content(class = 'ckeditor') }}
        </div>
        {{ form.submit(class = "btn btn-primary") }}
    </form>
{% endblock content %}

{% block sidebar %}

{% endblock %}