{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
        <form class="form-horizontal" action="{{ url_for('user.edit_profile',username=user.username) }}" method="POST">
            <div class="form-group">
                <label for="inputUsername" class="col-sm-2 control-label">{{ _('Имя пользователя') }}</label>
                <div class="col-sm-10">
                    <input  class="form-control" id="inputUsername" name="username" type="text" value="{{ user.username }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">{{ _('Пароль') }}</label>
                <div class="col-sm-10">
                    <input  class="form-control" id="inputPassword" name="password" type="password" value="{{ user.password }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputBirthDay" class="col-sm-2 control-label">{{ _('Дата рождения') }}</label>
                <div class="col-sm-10">
                    <input  class="form-control" id="inputBirthDay" name="birth-day" type="date" value="{{ user.birth_day }}">
                </div>
            </div>

            <div class="form-group">
                <label for="inputWebSite" class="col-sm-2 control-label">{{ _('Веб-сайт') }}</label>
                <div class="col-sm-10">
                    <input  class="form-control" id="inputWebSite" name="web-site" type="url" value="{{ user.web_site }}">
                </div>
            </div>
            <div class="form-group">
                <label for="textAreaSignature" class="col-sm-2 control-label">Подпись</label>
                <div class="col-sm-10">
                    <textarea name="signature" id="textAreaSignature" class="form-control ckeditor">
                        {{ user.signature | safe}}
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">{{ _('Сохранить') }}</button>
                </div>
            </div>

        </form>

{% endblock %}

{% block sidebar %}

{% endblock %}