{% extends "layout.html" %}

{% block title %}
    Участники
{% endblock title%}

{% block content %}
    <h4>Участники</h4>
{% endblock content %}

{% block sidebar %}
    <h4>Поиск участников</h4>
    <form action="" class="form-group">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Поиск...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Поиск</button>
            </span>
        </div>
    </form>
    <hr>
    <h4>Новые участники</h4>

{% endblock sidebar %}
