{% extends "layout.html" %}

{% block title %}
    {{ title }}{{ user.username }}
{% endblock title %}

{% block content %}
    <h4>{{ _('Имя пользоавтеля:') }}{{ user.username }}</h4>
    <p>{{ _('Эл. адрес:') }}{{ user.email }}</p>
    {% if user.activated %}
        <p style="color: green;">{{ _('Аккаунт активирован') }}</p>
    {% else %}
        <p style="color: red;">{{ _('Аккаунт не активирован') }}</p>
    {% endif %}
    <img src="" width="100" height="100" alt="{{ user.avatar }}">
    <p>IP: {{ user.ip }}</p>
    <p>Веб-сайт: <a href="{{ user.web_site }}" target="_blank">{{ user.web_site }}</a></p>
    <p>{{ _('Кол-во ответов:') }}{{ replies | count }}</p>
    <p>{{ _('Кол-во обсуждений:') }}{{ topics | count }}</p>
    <p>{{ _('Дата регистрации:') }}{{ user.date_joined.strftime('%d-%m-%Y в %H:%M %p') }}</p>
    {% if user.last_visit == None %}
    {% else %}
        <p>{{ _('Последняя активность:') }}{{ user.last_visit.strftime('%d-%m-%Y в %H:%M %p') }}</p>
    {% endif %}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#topics" aria-controls="topics" role="tab" data-toggle="tab">{{ _('Обсжудения') }}</a></li>
        <li role="presentation"><a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">{{ _('Ответы') }}</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="topics">
            <ul class="list-group">
                {% for topic in topics %}
                    <li class="list-group-item">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="{{ url_for('user.show_profile_user', user_id=topic.user_id) }}">
                                    <img class="media-object" height="24" width="24" alt="" src="">
                                </a>
                            </div>
                            <div class="media-body">
                                <a href="{{ url_for('forum.topic',category_name=topic.category.name,topic_id = topic.id,page=1) }}">
                                    <h4 class="media-heading">{{ topic.title }}</h4>
                                </a>
                                <p>{{ _('Дата создания:') }}{{ topic.date_created.strftime('%d-%m-%Y в %H:%M %p') }}</p>
                                <p class="text-muted">
                                    {{ _('Ответов:') }}{{ topic.replies.count() }}
                                    {{ _('Просмотров:') }}{{ topic.views }}
                                </p>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if topics | count == 0 %}
                <p>{{ _('Пользователь не создавал обсуждений') }}</p>
            {% endif %}
        </div>
        <div role="tabpanel" class="tab-pane " id="posts">
                <ul class="list-group">
                    {% for reply in replies %}
                        <li class="list-group-item">
                            <div class="media">
                                <div class="media-left media-middle">
                                    <a href="#">
                                        <img class="media-object" height="24" width="24" alt="" src="">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ _('В обсуждении ') }}
                                        <a href="{{ url_for('forum.topic', category_name=reply.topic.category.name, topic_id = reply.topic.id,page=1) }}">
                                            {{ reply.topic.title }}
                                        </a>
                                    </h4>
                                    <p class="text-muted">
                                        {{ _('Автор обсуждения: ') }}{{ user.username }}
                                    </p>
                                    <p class="text-muted">
                                        {{ _('Дата:') }}{{ reply.date_created.strftime('%d-%m-%Y в %H:%M %p') }}
                                    </p>
                                    <p>{{ reply.content | safe}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% if replies | count == 0 %}
                <p>{{ _('Пользователь не отвечал') }}</p>
            {% endif %}
        </div>
  </div>
{% endblock  content %}

{% block sidebar %}
{% endblock sidebar %}
