{% extends 'layout_admin.html' %}

{% block title %}
    {{ title }} - {{ g.user.username }} | PyForumAdmin
{% endblock %}

{% block content %}
    <h2 class="page-header">Обсуждения</h2>
    <canvas id="categoryCharts" height="75"></canvas>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Действия</th>
                    <th>id</th>
                    <th>Автор</th>
                    <th>Название</th>
                    <th>Содержание</th>
                    <th>Дата создания</th>
                    <th>Просмотры</th>
                    <th>Ответов</th>
                    <th>Заперта</th>
                </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                {% for topic in category.topics %}
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-default" href="{{ url_for('forum.edit_topic',id=topic.id) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                    <form action="{{ url_for('forum.delete_topic',id=topic.id) }}" method="POST">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <th scope="row">
                                {{ topic.id }}
                            </th>
                            <td>
                                {{ topic.user.username }}
                            </td>
                            <td>
                                <a href="{{ url_for('forum.topic',category_name=topic.category.name, topic_id=topic.id, page=1) }}">
                                    {{topic.title | title | truncate(30, False, '...',0)}}
                                </a>
                            </td>
                            <td>
                                {{ topic.content | safe | truncate(30, False, '...',0)}}
                            </td>
                            <td>
                                {{ topic.date_created }}
                            </td>
                            <td>
                                {{ topic.views }}
                            </td>
                            <td>
                                {{ topic.replies.count() }}
                            </td>
                            <td>
                                {% if not topic.locked %}
                                    <label>
                                        <input value="{{ topic.locked }}" type="checkbox">
                                    </label>
                                {% else %}
                                    <label>
                                        <input value="{{ topic.locked }}" type="checkbox" checked>
                                    </label>
                                {% endif %}
                            </td>
                        </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="page-header">
        <h2>Пользователи</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Действия</th>
                    <th>id</th>
                    <th>Имя пользователя</th>
                    <th>Эл. адрес</th>
                    <th>Пароль</th>
                    <th>IP</th>
                    <th>Дата регистрации</th>
                    <th>Последний визит</th>
                    <th>Веб-сайт</th>
                    <th>Активация</th>
                    <th>Админ</th>
                    <th>Бан</th>
                    <th>Дата рождения</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                        <tr>
                            <td>
                                <div class="btn-group" role="group" aria-label="...">
                                    <a class="btn btn-default" href="{{ url_for('user.edit_profile',username = user.username) }}">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </a>
                                  <form action="" method="POST">
                                        <button class="btn btn-default" type="submit">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </form>
                                </div>
                            </td>
                            <th scope="row">
                                {{ user.id }}
                            </th>
                            <td>
                                <a href="{{ url_for('user.show_profile_user',username=user.username) }}">{{ user.username }}</a>
                            </td>
                            <td>
                                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
                            </td>
                            <td>
                                {{ user.password }}
                            </td>
                            <td>
                                {{ user.ip }}
                            </td>
                            <td>
                                {{ user.date_joined }}
                            </td>
                            <td>
                                {% if user.last_visit %}
                                    {{ user.last_visit }}
                                {% endif %}
                            </td>
                            <td>
                                {% if user.web_site %}
                                    <a href="{{ user.web_site }}" target="_blank">{{ user.web_site }}</a>
                                {% endif %}
                            </td>
                            <td>
                                <input type="checkbox" value="{{ user.activated }}" {% if user.activated %} checked {% else %} {% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" value="{{ user.admin }}" {% if user.admin %}checked{% else %}{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" value="{{ user.banned }}" {% if  user.banned %}checked{% else %}{% endif %}>
                            </td>
                            <td>
                                {% if user.birth_day %}
                                    {{ user.birth_day }}
                                {% endif %}
                            </td>
                        </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block script %}
    <script>
        function rgba_colors() {
            function rgba_color() {
                var rint = Math.floor( 0x100000000 * Math.random());
                return 'rgba(' + (rint & 255) + ',' + (rint >> 8 & 255) + ',' + (rint >> 16 & 255) + ',' + 0.5 + ')';
            }
            var r=[];
            for (i = 0; i < {{ categories | count }}; i++) {
                r.push(rgba_color())
            }
            return r
        }
        var categoryChart = document.getElementById('categoryCharts').getContext('2d');
        dataCountTopicsinCategory = {
            datasets: [{
                backgroundColor: rgba_colors(),
                data: [
                    {% for category in categories %}
                        {{ category.topics.count() | tojson}},
                    {% endfor %}],
                label: ""
            }],
            labels: [
                {% for category in categories %}
                    {{ category.name| title | tojson }},
                {% endfor %}
            ]
        };
        var chart = new Chart(categoryChart, {
            type: 'pie',
            data: dataCountTopicsinCategory
        });
    </script>
{% endblock %}